

//color
$blue:#5193DD;
$white:white;

//font
$title:40px;
$responsiveTitle:25px;

.FLEX-ROW{
  padding-top:2rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .JOB-LIST{
    cursor:pointer;
    border:1px solid lightgrey;
    padding:80px;
    img{
      margin-bottom:10px;
      width:100px;
    }
  }
}

.title{
  font-size:$title;
  padding-bottom:1rem;
  @media (max-width: 768px){
    font-size:$responsiveTitle;
    text-align: center;
  }
}

.HOME-IMG{
  cursor:pointer;
  border:1px solid lightgrey;
  padding:80px;
  img{
    margin-bottom:10px;
    width:100px;
  }
}


.BLOCK{
  text-align:center;
  padding:40px;
}

.GREY-BLOCK{
  text-align:center;
  padding:40px;
  background-color:#F9F9F9;
}
