.HOWITWORK{
  text-align:center;
    padding:40px;
  background-color:#F9F9F9;
  .FLEX-ROW{
    flex-wrap:nowrap;
    @media (max-width: 1080px){
      flex-wrap:wrap;
    }
  }
  .HOME-IMG{
    border:none;
    padding:0;
    width:100%;
    justify-content: space-around;
    @media (max-width: 1080px){
      padding:40px;
    }
    img{
      width:120px
    }
    h4{
    padding:1rem 0;
    }
    p{
      width:200px;
      margin:0 auto;
      @media (max-width: 1080px){
        width:60%;
        min-width:200px;
      }
    }
  }
}
