.HEADER{
    position:fixed;
    width:100%;
    z-index:100;
  .navbar{
    background-color:#FFFFFF;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    img{
      width:120px;
    }
    @media (min-width: 769px){
      height:4.5rem;
    }
    @media (max-width:768px){
      img{
        width:100px;
      }
    }
  }
}
