@import '../../Css/index.scss';

.SIGNUP{
  @extend .FLEX-ROW-CENTER;
  padding-top:50px;

  .ui.card{
    .ui.form .field>label{
      text-align: left;
    }
    margin-top:50px;
    width:500px;
    height:400px;
    .header{
      padding:20px 0;
      font-size:$sub-title !important;
      text-align: center;
    }
    .BUTTON-DESCRIPTION{
      @extend .FLEX-ROW-SPACE-AROUND;
      height:200px;
      .ui.button{
        min-width:150px;
        background-color:$primary-blue;
        color:white;
        &:hover{
          background-color:$secondary-blue;
        }
      }
    }
    .description{
      padding:20px 0;
      width:80%;
      margin:0 auto;
      margin-top:20px !important;
      input{
        margin:10px 0;
      }
    }
    @media (max-width: 525px){
      width:300px;
    }
  }
}
