.PRICEMODEL{
  .ui.table{
    overflow-x:overflow;
  }
  .ui.table thead tr:first-child{
    border-top:none;
  }
  .ui.celled.definition.table thead:not(.full-width) th:first-child{
    border-top:none;
  }

  .LEFT-COLUMN{
    display: flex;
    width: 100% !important;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
  }
  .table th, .table td{
    vertical-align: middle !important;
  }

  .CUSTOM-CELL > div{
    text-align: center;
    img{
      width:30px;
    }
  }
  .ui.definition.table thead:not(.full-width) th{
    padding:1rem;
    text-align:center;
    h2{
      font-size:1.5rem;
    }
    p{
      color:grey;
      padding:1rem 0;
      width:70%;
      margin:0 auto;
      height:100px;
    }
    button{
      margin-top:1rem;
      background-color:#5193DD;
      color:white;
    }
    button:hover{
      background-color:lightgrey;
    }
  }
}
